<ul class="c-menu">
    <li class="c-mu-list active">
        <a href="#app">
            <i class="iconfont icon-yingyong"></i>
            <span>应用</span>
        </a>
    </li>
    <li class="c-mu-list">
        <i class="iconfont icon-xinxi"></i>
        <span>信息</span>
        <ul>
            <li>
                <a><span>企业信息</span></a>
            </li>
            <li>
                <a><span>个人资料</span></a>
            </li>
            <li>
                <a><span>修改密码</span></a>
            </li>
        </ul>
    </li>
</ul>
