<div>
    <div>
        <a>
            <img src="../../asset/images/logo2.png" width="70px" height="70px">
        </a>
    </div>
    <div>
        <ul>
            <li>
                <label>名称</label>
                <div></div>
            </li>
            <li>
                <label>主体</label>
                <div></div>
            </li>
            <li>
                <label>所在行业</label>
                <div></div>
            </li>
            <li>
                <label>简介</label>
                <div></div>
            </li>
            <li>
                <label>联系人</label>
                <div></div>
            </li>
            <li>
                <label>联系手机</label>
                <div></div>
            </li>
            <li>
                <label>固定电话</label>
                <div></div>
            </li>
            <li>
                <label>联系地址</label>
                <div></div>
            </li>
        </ul>
    </div>
</div>