<div>
    <div>
        <a>
            <img src="../../asset/images/logo2.png" width="70px" height="70px">
        </a>
    </div>
    <div>
        <ul>
            <li>
                <label>昵称</label>
                <div></div>
            </li>
            <li>
                <label>性别</label>
                <div></div>
            </li>
            <li>
                <label>手机</label>
                <div></div>
            </li>
            <li>
                <label>邮箱</label>
                <div></div>
            </li>
            <li>
                <label>生日</label>
                <div></div>
            </li>
            <li>
                <label>个性签名</label>
                <div></div>
            </li>
        </ul>
    </div>
</div>