<ul class="c-menu">
    <li class="c-mu-list active">
        <a href="#app">
            <i class="iconfont icon-yingyong"></i>
            <span>应用</span>
        </a>
    </li>
    <li class="c-mu-list">
        <i class="iconfont icon-xinxi"></i>
        <span>信息</span>
        <ul>
            <li>
                <a href="#infoc"><span>企业信息</span></a>
            </li>
            <li>
                <a href="#infou"><span>个人资料</span></a>
            </li>
            <li>
                <a href="#security"><span>修改密码</span></a>
            </li>
        </ul>
    </li>
    <li class="c-mu-list">
        <a href="#user">
            <i class="iconfont icon-yonghu"></i>
            <span>用户</span>
        </a>
    </li>
    <li class="c-mu-list">
        <a href="#">
            <i class="iconfont icon-qiye"></i>
            <span>企业</span>
        </a>
    </li>
    <li class="c-mu-list">
        <a href="#">
            <i class="iconfont icon-jiaose"></i>
            <span>角色</span>
        </a>
    </li>
    <li class="c-mu-list">
        <a href="#">
            <i class="iconfont icon-caidan"></i>
            <span>菜单</span>
        </a>
    </li>
</ul>
